.container {
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  margin: 20px auto;
  padding: 50px;
}

.card {
  padding: 20px;
  border-radius: 30px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}

.temperature {
  display: block;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  text-align: right;
  margin: 20px auto;
}

.temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.units {
  position: relative;
  font-size: 20px;
  top: -25px;
}

#celsius,
#fahrenheit {
  font-size: 25px;
}

#city,
#date,
#weather-description {
  display: block;
  text-align: right;
}

#weather-description {
  font-size: 12px;
  list-style: none;
}

.weather-forecast {
  text-align: center;
}

.forecast-min {
  opacity: 0.6;
}
footer {
  display: block;
  text-align: center;
  font-size: 10px;
  padding: 30px;
}
